@import "tailwindcss";

@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/sf-pro-display/regular.otf") format("woff2"),
    url("/assets/fonts/sf-pro-display/regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "./config.css";
@import "./global.config.css";

body {
  /* font-family: "SFProDisplay", sans-serif; */
}

html {
  scroll-behavior: smooth;
}
